.wrapper {

    .gray-color {
        color: #BDBDBD;
    }

    padding: 28px 24px;

    h2 {
        font-size: 40px;
        font-weight: 400;
        letter-spacing: 0.05em;
    }

    .content {
        display: flex;
        align-items: flex-start;
        gap: 54px;

        ul {
            margin: 0;
            padding: 0;

            li {
                list-style: none;
                margin-bottom: 12px;
            }
        }
    }

    #notificateForm input {
        padding: 8px;
        margin-right: 12px;
        width: 60%;
        background-color: transparent;
        color: #fff;
        border: 1px solid #fff;
        border-radius: 4px;
    }

    .social-list {
        text-align: center;
        margin-right: 10%;
        
        span {
            padding: 4px 4px;
        }
    }


}